@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

  :root{
    --violet: #7562E0;
    --dark: #625C7E;
  }
  html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #625C7E;
}

section{
    padding: 60px 0;
}

.header{
    margin-left: 12rem;
    padding-top: 1rem;
}

footer{
    padding: 20px 0;
    margin-left: 12rem;
}
a{
    text-decoration: none;
}

/************************Debut header***************************/

.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav__name{
    color: #7562E0;
    font: 3rem;
    font-weight: bold;
}

.nav__name:hover{
    cursor: pointer;
}

.nav__menu{
    padding-right: 80px;
    margin-right: 9rem;
}

.nav__menu ul a{
    margin-left: 1.5rem;
    color: var(--dark);
    transition: all .3s ease-in-out;
}
.nav__menu ul a:hover{
    color: #7562E0
}

.mes-infos{
    display: flex;
    justify-content: space-around;
}

.name{
    margin-top: 30px;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.competence, .name{
    margin-left: -8.5rem;
}

button{
    width: 176px;
    height: 62px;
    padding: 20px  30px;
    border: 3px solid #625C7E;
    background: none;
    font: inherit;
    cursor: pointer;
}

.button{
    width: 175px;
    height: 60px;
    margin-top: 1rem;
    margin-left: -8rem;
    box-shadow: 0.5em 0.5em 0 0 var(--violet), inset 0.5em 0.5em 0 0 var(--violet);
    transition: all 0.5s ease-in-out;
}

.button:hover{
    box-shadow: 0 0 0 0 var(--black), inset 6.7rem 0 0 0 var(--black);
}

.button:focus {
    box-shadow: 0 0 0 0 var(--black), inset 6.7rem 0 0 0 var(--black);
}

.mes-infos__photo{
    width: 40%;
    height: 100%;
    background-position: center;
    max-height: 600px;
    border: 10px solid white;
}

.ma--photo{
    position: absolute;
    top: -50px;
    left: -100px;
    border: 10px solid #7562E0;
    border-radius: 50%;
    width: 326px;
    height: 326px;
    background-color: #7562E0;
}
.mon--image{
    position: relative;
    border-radius: 50%;
    background-color: #7562E0;
    width: 500px;
    height: 70vh;
    left: 10%;
}

.white--font{
    position: relative;
    right: -2px;
    bottom: -6px;
    border-radius: 50%;
    background-color: white;
    width: 325px;
    height: 325px;
}

.ma--photo img{
    position: relative;
    left: 12px;
    top: 12px;
    bottom: -10px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/****************************fin header***************************/

/************************debut 1ere section***********************/

.first{
    margin-left: 12rem;
    margin-right: 10rem;
    padding-right: 70px;
}

.box--center{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.box--center img{
    width: 25%;
    height: 25%;
    margin-right: 8px;
    margin-bottom: 100px;
}

.years{
    font-weight: bold;
    font-size: 5rem;
    color: #7562E0;
}

.experience{
    display: flex;
}

.work-done--left{
    margin-right: 4rem;
}

.work-done--left p{
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.experience__right--up{
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: bold;
    color: #7562E0;
}

.experience__right--down{
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
}

.carte{
    width: 31%;
    height: 270px;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-radius: 10px;
    background: white;
    transition: all .3s ease-in-out;
    border: 2px solid #f7f6f9;
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.20);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}

.carte div i{
    font-size: 35px;
    color: var(--violet);
    transition: all .3s ease-in-out;
}

.carte:hover{
    background-color: #7562E0;
    color: white;
}

.discover{
    opacity: 0;
}

.carte:hover a{
    opacity: 1;
    color: white;
    visibility: visible;
}

.carte:hover i{
    opacity: 1;
    color: white;
    visibility: visible;
    margin-bottom: 1rem;
    transform: rotateY(360deg);
}

.carte:hover h4{
    color: white;
    margin-bottom: 1rem;
}

h4{
    color: #7562E0;
    font-size: 20px;
}

/*************************fin 1ere section****************************/

/************************debut 2nd section*************************/

.main__second-section--up{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6rem;
}

.second-section__up--left{
    margin-right: -8rem;
    font-size: 20px;
    font-weight: bold;
}

.second-section__up--left h1{
    color: #7562E0;
}

.second-section__up--right{
    margin-left: 15rem;
    color: #7562E0;
    margin-right: 5rem;
    font-size: 20px;
    font-weight: bold;
}

.second-section__up--right h3{
    margin-bottom: 3rem;
    margin-left: -2rem;
    font-size: 16px;
    color: #625C7E;
}

.second-section__up--right a{
    margin-left: -2rem;
    font-size: 14px;
    color: #7562E0;
}

.main__second-section--down{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.design{
    width: 32%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 1.1rem;
}

.design img{
    width: 100%;
    position: relative;
    object-fit: cover;
    transition: 2s ease-in-out;
    top: 0;
}

.design:hover img{
    transform: translateY(calc(-100% + 300px));
}

.second-section--down img{
    display: flex;
    object-fit: cover;
}

/**********************fin 2nd section*********************/

/*********************Debut 3e section*********************/

.third-section--up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section__up--left{
   width: 50%;
}

.third-section__up--left img{
    width: 100%;
    height: 65vh;
    justify-content: center;
    object-fit: cover;
}

.third-section__up--right{
    width: 50%;
    height: 450px;
    padding-bottom: 20px;
    margin-right: 5rem;
}

.third-section__up--right h1{
    display: flex;
    flex-wrap: wrap;
    color: #7562E0;
    font-size: 35px;
    margin-left: 0.5rem;
}

.third-section__up--right p{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 3.5rem;
}

.third-section__up--right img{
    width: 30%;
    height: 60px;
    margin-top: 20%;
    margin-left: 35%;
    margin-right: 35%;
}

.main__third-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.third-section--down{
    display: flex;
    width: 100%;
    height: 450px;
    background-color: rgb(250, 252, 254);
    justify-content: center;
    align-items: center;
}

.temoignage{
    width: 31%;
    height: 320px;
    position: relative;
    margin: 1rem; 
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);
}

.temoignage:hover{
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transform: scale(1.02);
    cursor: pointer;
}

.temoignage img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 35%;
    object-fit: cover;
    border: 4px solid #7562E0;
}

.temoignage p{
    text-align: center;
    margin-bottom: 2rem;
    color: #7562E0;
    font-weight: bold;
}

.temoignage span{
    text-align: center;
    margin-left: 4rem;
    opacity: 0.4;
    font-weight: bold;
}

/***********************fin 3e section***********************/

/**************************debut footer*************************/

footer{
    display: block;
    justify-content: space-between;
    margin-right: 13rem;
}

.footer__up{
    margin-bottom: 2rem;
}

.footer__up-left{
    display: flex;
    justify-content: space-between;
}

.footer__up-left--card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}

.footer__up-left--card h1{
    font-size: 23px;
    font-weight: bold;
}

.footer__left--icons a i{
    margin-right: 14px;
    font-size: 30px;
    color: #ccc;
    transition: all .3s ease-in-out;
}

.footer__left--icons a .fa-facebook:hover{
    color: rgb(59, 89, 152);

}

.footer__left--icons a .fa-linkedin:hover{
    color: rgb(0, 119, 181);

}

.footer__left--icons a .fa-github:hover{
    color: #171515;

}

.footer__left--icons a .fa-whatsapp-square:hover{
    color: rgb(37, 211, 102);

}

.footer__left--icons a .fa-instagram-square:hover{
    color: rgb(205, 72, 107);
}


.email{
    font-weight: bold;
    color: #7562E0;
}

.footer__up--right{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 800px;
   padding-left: 1rem;
}

.footer__up-right--text{
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    flex-wrap: wrap;
    width: 350px;
}

.button_2{
    width: 35%;
    height: 60px;
    margin-top: .05rem;
    padding: 20px 30px;
    border: 3px solid #625C7E;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    font: inherit;
    line-height: 1.2;
    transition: all 0.5s ease-in-out;
    box-shadow: 0.4em 0.4em 0 0 var(--violet), inset 0.4em 0.4em 0 0 var(--violet);
}

.button_2:hover{
    box-shadow: 0 0 0 0 var(--black), inset 6.7rem 0 0 0 var(--black);
}
    
.button:focus {
    box-shadow: 0 0 0 0 var(--black), inset 6.7rem 0 0 0 var(--black);
}

input{
    width: 450px;
    height: 75px;
    border: 3px solid #625C7E;
    margin-bottom: 1.3rem;
    background-color: #7562e010;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 1rem;
    border-style: unset;
    border-image: initial;
    border-radius: 3%;
}

.footer__down{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    margin-top: 1rem;
}

.footer__files--left{
    margin-top: 10rem;
    margin-right: 4rem;
}

.audio--text{
    font-size: 20px;
    color: #625C7E;
    margin-bottom: 2rem;
    margin-left: 5rem;
    font-weight: bold;
}

audio{
    margin-left: 4rem;
}

.video--text{
    color: #625C7E;
    margin-left: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 25px;
    font-weight: bold;
}

/************************** fin footer ***************************/

.Bottom__Footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 20px;
}